body {
    background-color: #392A1A;
    color: #fff;
}

.intro-container {
    margin: auto;
    background-image: url("../../public/introLibrary.jpg");
    alt: "Libreria";
    background-repeat: no-repeat;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 315px;
    width: 600px;
}

.intro-container__text {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-weight: bold;
    font-size: 1.1em
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container > * {
    flex: 1 1 40%; 
    max-width: 45%;
    margin: 10px;
}

.center-text {
    text-align: center;
    font-size: 2em
}

.NF {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 10px
}

.NF__text {
    margin: 15px
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ab8d51 ;
    border: 1px solid black;
    color:#06080F;
}

.opciones {
    margin: 10px;
    margin-left: 20px;
}

.opciones__reservar {
    border: 3px solid #06080F;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 25px;
    margin-left: 70%;
}

.opciones__reservar:active {
    border-color: white;
}                   

.user-container {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:gray ;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 20px;
    color:#06080F;
    width: 80%;
    align-items: center;
    justify-content: center
}
